version: '3.4'

services:
  dev:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    ports:
      - "9080:9080"
  sync:
    build:
      context: .
      dockerfile: ./Dockerfile.sync
    ports:
      - "9090:9090"
    restart: always
    networks:
        network:
            ipv4_address: 172.28.1.1

  persister:
    build:
      context: .
      dockerfile: ./Dockerfile.persister
    ports:
      - "9091:9091"
    depends_on:
       - db
       - sync
    restart: always
    networks:
        network:
            ipv4_address: 172.28.1.2
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=sync
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data
    networks:
        network:
            ipv4_address: 172.28.1.3
  power:
    build:
      context: .
      dockerfile: ./Dockerfile.power
    ports:
      - "9092:9092"
    depends_on:
      - sync
    restart: always
    environment:
      - PRIVATE_KEY=jWqTkjmwQ4Z-VnsM7PcJBQ8Dlh8h7YL3MsgQ_13nQy0qXfGWTgj_C02_QF1FMRnAf_PxWVi23a0GunNMNz8a-oHTRz1_ZsP2kMjAHZyvaSp33oibfNKB-sc59Hdf4PNV4
    networks:
        network:
            ipv4_address: 172.28.1.4

volumes:
  db:
    driver: local

networks:
    network:
        ipam:
            driver: default
            config:
            - subnet: 172.28.0.0/16
